<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
           
            <li>
                <a href="#">
                    <i class="icon icon-app-store"></i><span class="nav-text">Mesajlar</span>
                </a>

            </li>
          

            <li>
                <a href="/Login/Logout">
                    <i class="icon-key"></i><span class="nav-text">Çıkış</span>
                </a>

            </li>
        </ul>
    </div>
</div>